/* Common */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #f6f8f9;
  font-family: 'Roboto', sans-serif;
}

section {
  margin-top: 60px;
}

/* Utility */

.vcenter {
  vertical-align: middle;
}

.white-bg {
  background-color: #ffffff;
}

.white-font {
  color: #ffffff;
}

.blue-bg {
  background-color: #47adf1;
}

.indent {
  padding-left: 90px;
  padding-right: 90px;
}

.button {
  padding: 12px 20px;
  border-style: none;
  border-radius: 10px;
  font-weight: 700;
}

.gray-font {
  color: #cecece;
}

.section-title {
  display: inline-block;
  margin-left: 5px;
}

.section-row {
  margin: 20px 0;
}

.symbol {
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  text-align: center;
}

.check {
  color: #64c0a9;
  border: 1px solid #64c0a9;
}

.uncheck {
  color: #ed6258;
  border: 1px solid #ed6258;
}

.row-content {
  margin: 0 5px;
  font-size: 1.2rem;
  line-height: 20px;
}

/* Header */

#site-header {
  padding: 20px 40px;
}

#logo {
  width: 80px;
}

h1 {
  display: inline-block;
  font-size: 3.5rem;
  font-weight: 700;
}

/* Main */

#site-main {
  width: 70%;
  margin: 70px auto;
  border-radius: 10px;
  padding-bottom: 60px;
}

#main-nav {
  padding-top: 25px;
  padding-bottom: 25px;
}

#add-task {
  border: 2px solid #47adf1;
}

#add-section {
  border: 2px solid #cecece;
}

hr {
  border: 1px solid #f6f8f9;
}